language: perl
sudo: false

install:
  - perlbrew list
  - dzil authordeps --missing | cpanm -n
  - dzil listdeps --missing | cpanm -n

perl:
  - "5.14"
  - "5.16"
  - "5.18"
  - "5.20"
  - "5.22"
  - "5.24"
  - "5.26"

script:
  # see GH#26
  - cpanm -v https://cpan.metacpan.org/authors/id/P/PE/PEVANS/Socket-2.021.tar.gz
  - dzil test -v

env:
  global:
    - PERL_USE_UNSAFE_INC=0

